<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Table</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f0f0f0;
        }
        
        .container {
            max-width: 500px;
            margin: auto;
            padding: 20px;
            background-color: #fff;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
        
        h1 {
            text-align: center;
            margin-bottom: 20px;
        }
        
        form {
            display: flex;
            flex-direction: column;
        }
        
        label {
            margin-bottom: 10px;
            font-weight: bold;
        }
        
        input[type="text"], select {
            padding: 10px;
            margin-bottom: 20px;
            border-radius: 5px;
            border: 1px solid #ccc;
        }
        
        button {
            padding: 10px 20px;
            background-color: #007bff;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }
        
        button:hover {
            background-color: #0056b3;
        }
    </style>
</head>
<body>
    <h1>Edit Table</h1>
    <form action="/edit_table" method="POST">
        <label for="name">Table Name:</label>
        <input type="text" id="name" name="name" value="<%= table.name %>" required><br><br>
        <label for="floor_id">Floor:</label>
        <select id="floor_id" name="floor_id"  required>
            <% floors.forEach(floor => { %>
                <option value="<%= floor.id %>" <%= floor.id === table.floor_id ? 'selected' : '' %>><%= floor.name %></option>
            <% }); %>
        </select><br><br>
        <label for="status">Status:</label>
        <input type="text" id="status" name="status" value="<%= table.status %>" readonly><br><br>
        <input type="text" hidden value="<%= table.id %>" name="id" />
        <button type="submit">Save Changes</button>
    </form>
</body>
</html>
